<h1>Edit <%= @profile %></h1>
<ul><li>Each field to be filtered is defined with an XPath
<li>Comments are preceded with #
<li>The redaction string to be inserted is delimited from the XPath by a colon. The default redaction string is REDACTED
<li>Any XML attributes to be filtered need to be specified explicitly
<li>If any rules overlap, specify the narrower rule after the more specific, so that the specific text to be replaced (and suited to the
type of the field) overwrites the default replcament text applied throughout the node
</ul>
<form action="/privacy?profile=<%= @profile %>" method="post">
    <textarea rows=30 cols=80 name="file"><%= @contents %></textarea>
    <input type="submit" value="Save">  
</form>
