<!-- las.erb -->

<% content_for :title do %>
      <title>NIAS LAS: Lightweight Analytics Service</title>
<% end %>


<div class="container">
  
	<!-- header -->
    <section class="header">
    	<!-- <img class="value-img" src="images/watch.svg"> -->
    	<img class="value-img" src="images/graph2.svg" width="160" height="160">
    	<!-- <img class="value-img" src="images/deadlines.svg" width="132" height="132"> -->
        <div class="row">
        	<div class="twelve columns" style="margin-top: 5%">
                <h4>NIAS - LAS</h4>
                <p>Lightweight Analytics Service</p>
            </br></br></br>
            </div>
        </div>
    </section>

    <!-- navigation -->
    <div class="navbar-spacer"></div>
    <nav class="navbar">
        <div class="container">
            <ul class="navbar-list">
                <li class="navbar-item"><a class="navbar-link" href="#attendance_dashboard">Attendance</a></li>
                <li class="navbar-item"><a class="navbar-link" href="#finance_dashboard">Finance</a></li>                
                <!-- <li class="navbar-item"><a class="navbar-link" href="#graph">View</a></li> -->
            </ul>
        </div>
    </nav>

    <!-- dashboard -->
    <div class="docs-section" id="attendance_dashboard">
		<h6 class="docs-header">Attendance</h6>
		<div class="row">
    		<div class="twelve columns">
				<div id="dashboardchart1">
					<h6>Average absences per class</h6>
					<script>
				        var svg1 = dimple.newSvg("#dashboardchart1", "100%", "500px");
				        d3.json("/graph_data/attendance_per_class", function (data) {
				        var myChart = new dimple.chart(svg1, data);
				        myChart.setBounds("5%", "5%", "100%", "70%")
				        var x = myChart.addCategoryAxis("x", "class");
				        myChart.addMeasureAxis("y", "average absences");
				        myChart.addSeries(null, dimple.plot.bar);
				        //myChart.addLegend(500, 20, 90, 300, "left");
		                myChart.draw();
				        });
					</script>
				</div>
    		</div>		    		
    	</div>

    	<br/><br/>

		<div class="row">
    		<div class="twelve columns">
				<div id="dashboardchart2">
					<h6>Most absent students</h6>
					<script>
				        var svg2 = dimple.newSvg("#dashboardchart2", "100%", "500px");
				        d3.json("/graph_data/most_absent_students", function (data) {
				        var myChart = new dimple.chart(svg2, data);
				        myChart.setBounds("5%", "5%", "100%", "70%")
				        var x = myChart.addCategoryAxis("x", "student");
				        myChart.addMeasureAxis("y", "absences");
				        myChart.addSeries(null, dimple.plot.bar);
				        //myChart.addLegend(500, 20, 90, 300, "left");
		                myChart.draw();
				        });
					</script>
				</div>
			</div>
		</div>		    		
	</div>

    <div class="docs-section" id="finance_dashboard">
		<h6 class="docs-header">Finance</h6>
		<div class="row">
    		<div class="twelve columns">
				<div id="dashboardchart3">
					<h6>Delinquent debtors</h6>
					<script>
				        var svg3 = dimple.newSvg("#dashboardchart3", "100%", "500px");
				        d3.json("/graph_data/payment_delinquency", function (data) {
				        var myChart = new dimple.chart(svg3, data);
				        myChart.setBounds("5%", "5%", "100%", "70%")
				        var x = myChart.addCategoryAxis("x", "debtor");
				        myChart.addMeasureAxis("y", "delinquency");
				        myChart.addSeries(null, dimple.plot.bar);
				        //myChart.addLegend(500, 20, 90, 300, "left");
		                myChart.draw();
				        });
					</script>
				</div>
			</div>
		</div>		    		
		<div class="row">
    		<div class="twelve columns">
				<div id="dashboardchart4">
					<h6>Delinquent debtors #Payments Missed</h6>
					<script>
				        var svg4 = dimple.newSvg("#dashboardchart4", "100%", "500px");
				        d3.json("/graph_data/payment_delinquency", function (data) {
				        var myChart = new dimple.chart(svg4, data);
				        myChart.setBounds("5%", "5%", "100%", "70%")
				        //var x = myChart.addCategoryAxis("y", "delinquency");
				        myChart.addMeasureAxis("p", "debtor");
				        var ring = myChart.addSeries("delinquency", dimple.plot.pie);
						ring.innerRadius = "60%";				        
				        myChart.addLegend(10, 40, 90, 300, "left");
		                myChart.draw();
				        });
					</script>
				</div>
			</div>
		</div>		    		
		<div class="row">
    		<div class="twelve columns">
				<div id="dashboardchart5">
					<h6>Language background of debtors</h6>
					<script>
				        var svg5 = dimple.newSvg("#dashboardchart5", "100%", "500px");
				        d3.json("/graph_data/debtor_languages", function (data) {
				        var myChart = new dimple.chart(svg5, data);
				        myChart.setBounds("5%", "5%", "100%", "70%")
				        //var x = myChart.addCategoryAxis("y", "language");
				        myChart.addMeasureAxis("p", "debtor");
				        var ring = myChart.addSeries("language", dimple.plot.pie);
						ring.innerRadius = "60%";				        
				        myChart.addLegend(10, 40, 90, 300, "left");
		                myChart.draw();
				        });
					</script>
				</div>
			</div>
		</div>		    		
	</div>
    </div>

</div> 

