<!-- layout.erb -->
<!-- default setup for all pages -->
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <!-- <title>NIAS</title> -->
    <%= yield_content :title %>
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton.css">
    <link rel="stylesheet" href="css/custom.css">
    <link rel="stylesheet" href="css/timesheet.css">
    <link rel="stylesheet" href="css/github-prettify-theme.css">
    <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="images/favicon.png">
    <!-- jquery support -->
    <script src="javascript/jquery-2.1.4.min.js"></script>
    <!-- navbar etc. -->
  	<script src="javascript/site.js"></script>
    <!-- charting support -->
    <script src="javascript/d3.min.js" charset="utf-8"></script>
    <script src="javascript/dimple.v2.1.6.min.js"></script>
<!--     
    <script src="javascript/jsnetworkx.js"></script>
    
 -->  	

	 <style type='text/css'> p.pagebreakhere {page-break-before: always}
	 </style>  	

</head>

<body>
        <%= yield %>
    
    <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>

</html>
